<h3>{{ video?.id ? 'Actualizar' : 'Subir' }} video</h3>
<hr>

<div class="formulario">
    <form 
        [formGroup]="miFormulario" 
        #formulario
        (submit)="agregarVideo()"
        autocomplete="off" >

        <!-- Input título -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Título del video</mat-label>
            <input 
                type="text" 
                matInput
                formControlName="title"
                placeholder="Ex. Leyes de Newton">
            <mat-error *ngIf="campoNoValido('title')">
                El campo del título es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input URL Youtube -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enlace de Youtube</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="url"
                placeholder="https://www.youtube.com/watch?v=mOMcoXp1GRw">
            <mat-error *ngIf="campoNoValido('url')">
                El campo del url es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input Materia -->

        <mat-form-field>
            <mat-label>Materia</mat-label>
            <mat-select 
                placeholder="Materia" 
                formControlName="course"
                [compareWith]="compareObjects"
                (closed)="limpiarBuscador()">
                <mat-form-field class="select-input">
                    <mat-label>Buscador</mat-label>
                    <form autocomplete="off">
                        <input
                            #txtBuscar
                            matInput type="text" 
                            placeholder="Buscar Materia" 
                            (keyup)="filtrarMaterias($event)"
                        >
                    </form>
                </mat-form-field>
                
                <mat-option *ngFor="let materia of materias" [value]="materia">
                    {{ materia.name }}
                </mat-option>

                <mat-option *ngIf="materias?.length == 0" disabled>
                    No existe ninguna materia, cree una en <b>Materias</b>
                </mat-option>

            </mat-select>
            <mat-error *ngIf="campoNoValido('course')">
                El campo de materia es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>
        
        <div class="boton-upload">

            <button 
                pButton 
                type="submit"
                [label]="video?.id ? 'Actualizar video' : 'Subir video'" 
                icon="pi pi-cloud-upload" 
                iconPos="left" 
                class="p-button-raised">
            </button>
        </div>
        
    </form>
</div>

<div class="espacio"></div>