<h3>Subir video</h3>
<hr>

<div class="formulario">
    <form 
        [formGroup]="miFormulario" 
        #formulario
        (submit)="subirVideo()"
        autocomplete="off" >

        <!-- Input título -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Título del video</mat-label>
            <input 
                type="text" 
                matInput
                formControlName="titulo"
                placeholder="Ex. Leyes de Newton">
            <mat-error *ngIf="campoNoValido('titulo')">
                El campo del título es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input Tutor -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tutor</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="tutor"
                placeholder="Ex. Juan Maldonado">
            <mat-error *ngIf="campoNoValido('tutor')">
                El campo del tutor es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input Materia -->

        <mat-form-field>
            <mat-label>Materia</mat-label>
            <mat-select 
                placeholder="Materia" 
                formControlName="materia"
                (closed)="limpiarBuscador()">
                <mat-form-field class="select-input">
                    <mat-label>Buscador</mat-label>
                    <form autocomplete="off">
                        <input
                            #txtBuscar
                            matInput type="text" 
                            placeholder="Buscar Materia" 
                            (keyup)="filtrarMaterias($event)"
                        >
                    </form>
                </mat-form-field>
                
                <mat-option *ngFor="let materia of materias" [value]="materia">
                    {{ materia.nombre }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="campoNoValido('materia')">
                El campo de materia es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input File -->

        <div class="custom-file">
            <input 
                type="file" 
                class="form-control" 
                formControlName="file"
                accept="video/mp4,video/x-m4v,video/*"

                (change)="selectFile($event)">
            <small 
                *ngIf="campoNoValido('file')" 
                class="text text-danger">
                Por favor, seleccione al menos  <strong>1</strong> video para subir
            </small>
        </div>

        <!-- Previsualizacion del video -->
        <div class="video">
            <video 
                [src]="url" 
                *ngIf="format==='video' && url" 
                controls>
            </video> <br/>
        </div>

        <!-- Barra de porcentaje -->
        <div *ngIf="currentFileUpload && visible">
            
            <div class="alert alert-info loading">
                <p>Por favor espere a que el video se termine de subir</p>
                <p-progressSpinner 
                    [style]="{width: '20px', height: '20px'}" 
                    styleClass="custom-spinner" 
                    strokeWidth="8"
                    animationDuration=".5s">
                </p-progressSpinner>
            </div>

            <div class="progress mt-2">
                <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ percentage }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: percentage + '%' }"
                    [ngClass]="{
                        'bg-success': percentage > 70,
                        'bg-info': percentage > 40 && percentage < 70,
                        'bg-warning': percentage > 20 && percentage < 40,
                        'bg-danger': percentage > 0 && percentage < 20
                    }"
                    >
                    {{ percentage }}%
                </div>
            </div>

        </div>
        
        <div class="boton-upload">

            <button 
                pButton 
                type="submit" 
                [disabled]="disabled"
                label="Subir video" 
                icon="pi pi-cloud-upload" 
                iconPos="left" 
                class="p-button-raised">
            </button>
        </div>
        
    </form>
</div>

<div class="espacio"></div>




