<h3>Subir video</h3>
<hr>

<div class="formulario">
    <form 
        [formGroup]="miFormulario" 
        #formulario
        (submit)="subirVideo()"
        autocomplete="off" >

        <!-- Input título -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Título del video</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="titulo"
                placeholder="Ex. Leyes de Newton">
            <mat-error *ngIf="campoNoValido('titulo')">
                El campo del título es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input Tutor -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tutor</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="tutor"
                placeholder="Ex. Juan Maldonado">
            <mat-error *ngIf="campoNoValido('tutor')">
                El campo del tutor es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input Materia -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Materia</mat-label>
            <input 
                type="text" 
                matInput 
                formControlName="materia"
                placeholder="Ex. Computación">
            <mat-error *ngIf="campoNoValido('materia')">
                El campo de materia es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input File -->

        <div class="custom-file">
            <input 
                type="file" 
                class="form-control" 
                formControlName="file" 
                id="importFile" 
                (change)="selectFile($event)">
            <small 
                *ngIf="campoNoValido('file')" 
                class="text text-danger">
                Por favor, seleccione al menos  <strong>1</strong> video para subir
            </small>
        </div>

        <!-- Previsualizacion del video -->
        <div class="video">
            <video [src]="url" *ngIf="format==='video' && url" controls></video> <br/>
        </div>

        <!-- Barra de porcentaje -->
        <div *ngIf="currentFileUpload && visible" class="progress mt-2">
            <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ percentage }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: percentage + '%' }"
                [ngClass]="{
                    'bg-success': percentage > 70,
                    'bg-info': percentage > 40 && percentage < 70,
                    'bg-warning': percentage > 20 && percentage < 40,
                    'bg-danger': percentage > 0 && percentage < 20
                }"
                >
                {{ percentage }}%
            </div>
        </div>
        
        <div class="boton-upload">

            <button 
                pButton 
                type="submit" 
                [disabled]="disabled"
                label="Subir video" 
                icon="pi pi-cloud-upload" 
                iconPos="right" 
                class="p-button-raised">
            </button>
        </div>
        
    </form>
</div>

<div class="espacio"></div>




