mat-form-field {
    display: block;
}

.select-input {
    padding: 1rem;
    padding-bottom: 0;
}

.boton-upload {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.descripcion {
    margin: 0.5rem 0;
}