.background {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1085%26quot%3b)' fill='none'%3e%3cpath d='M1112.2489548473925 193.36446151201997L1198.1663642622593 171.94284541315136 1123.075235406523 53.777539340285614z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1018.6640668356524 530.6908566709076L1092.8944609023204 573.5477946673502 1135.751398898763 499.3174006006824 1061.521004832095 456.46046260423975z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M175.9912053329066 355.48808316796953L218.56518116765187 259.8653678318221 80.36848999675915 312.91410733322425z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M893.0625556870721 386.35746860484625L876.2849475734514 280.4278199648493 770.3552989334544 297.20542807847 787.1329070470752 403.13507671846696z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M521.3575870758169 421.5074371703932L455.64152600473125 324.079370022002 423.92951992742576 487.22349824147886z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1334.5782127635996 185.70042518486656L1337.5384231137843 270.4697585434679 1463.212317976594 223.64477633888998z' fill='rgba(227%2c 193%2c 210%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1085'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2127%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2128)'%3e%3c/rect%3e%3cpath d='M0 0L77.11 0L0 152.47z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 152.47L77.11 0L818.65 0L0 259.3z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 259.3L818.65 0L1046.6299999999999 0L0 430.48z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 430.48L1046.6299999999999 0L1286.83 0L0 494z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1203.1100000000001 560L1440 517.05z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 517.05L1203.1100000000001 560L775.4600000000002 560L1440 339.44999999999993z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 339.45L775.46 560L479.93000000000006 560L1440 167.29999999999998z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 167.29999999999995L479.93000000000006 560L194.22000000000008 560L1440 136.39999999999995z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2127'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2128'%3e%3cstop stop-color='rgba(64%2c 47%2c 47%2c 0.66)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(227%2c 193%2c 210%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1100%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c208 C 144%2c231.6 432%2c345.6 720%2c326 C 1008%2c306.4 1296%2c153.2 1440%2c110L1440 560L0 560z' fill='rgba(227%2c 193%2c 210%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1100'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (min-width:992px){
    .background {
        height: 100vh;
    }
}

.contenedor {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.carreras {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) );
}

.mat-expansion-panel {
}

.mat-expansion-panel-header {
    margin: 0.7rem 0;
}

.mat-expansion-panel-header-title {
    display: flex;
    justify-content: center;
}

.area-title {
    font-family: 'Roboto', sans-serif;
    color: var(--primario);  
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

.listado {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    color: var(--negro);
    text-decoration: none;
}

.listado-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    cursor: pointer;
}

.listado-item mat-icon {
    color: var(--gradiente1)
}

.item-nombre p {
    margin: 0;
    margin-left: 0.5rem;
}
