<app-header></app-header>
<div class="materias">
    <div class="contenedor">
        <div class="columnas">
            <div class="col-izq">
                <div class="logo">
                    <img src="assets/logo.png" alt="Logo UTPL Play">
                </div>
                <div class="texto">
                    <p class="texto-bienvenida">
                        Hola David!, bienvenido a la UTPL play, la plataforma que se encargará de guardar 
                        todas clases para que puedas ingresar a ellas de forma más rápida y dinámica.
                    </p>
                    <p class="texto-escoger">
                        Escoge la materia que deseas ver sus clases.
                    </p>
                </div>
                <div class="fondo-chica">
                    <img src="assets/videos/fondo-chica.png" alt="">
                </div>
            </div>
            <div class="col-der">
                <div class="caja">
                    
                </div>
                <div class="caja">

                </div>
            </div>
        </div>
    </div>
</div>
