<app-header></app-header>
<div class="container">
    <main class="materias">
        <div class="card" *ngFor="let materia of materias">
            <div class="card-body">
                <h5 class="card-title">{{materia.name}}</h5>
                <p class="card-text" >
                    {{materia.description | slice:0:120}}...
                    <a class="link" [routerLink]="['../materia', materia.id]">Ver Más</a>
                </p>
                <p class="texto-negrita" *ngIf="materia?.keywords">Palabras clave: 
                    <span class="tags" *ngFor="let keyword of materia?.keywords">
                        {{keyword}}
                    </span>
                </p>
            </div>
        </div>
    </main>
    <div class="paginator">
        <p-paginator [rows]="5" [totalRecords]="materiasAux.length" [rowsPerPageOptions]="[9,24,30]" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>
