<div class="login">
    <div class="formulario">
        <div class="logo">
            <img src="./assets/logo.png" alt="">
        </div>
        <form>
            <div class="campo">
                <p class="label">Correo institucional:</p>
                <input type="text">
            </div>
            <div class="campo">
                <p class="label">Contraseña:</p>
                <input type="password">
            </div>

            <div class="boton">
                <button mat-fab type="submit" class="boton-submit">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

            <div class="formulario-footer">
                <p>¿No puedes iniciar sesión?</p>
                <p class="register">Regístrate</p>
            </div>
        </form>
    </div>
</div>
