<div class="login">
    <div class="formulario">
        <form class="formulario-form" [formGroup]="miFormulario">
            <div class="logo">
                <img src="./assets/logo.png" alt="">
            </div>
            <div class="campo">
                <p class="label">Correo institucional:</p>
                <input type="text">
            </div>
            <div class="campo">
                <p class="label">Contraseña:</p>
                <input type="password">
            </div>

            <div class="boton">
                <button routerLink="/play" mat-fab class="boton-submit">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
                <button (click)="loginGoogle()" class="boton-submit" *ngIf="(afAuth.authState | async) === null">
                    <mat-icon>arrow_forward_ios</mat-icon>
                    <p>Google</p>
                </button>
                <button (click)="logout()" mat-fab class="boton-submit" *ngIf="(afAuth.authState | async)">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>

            <div class="formulario-footer">
                <p>¿No puedes iniciar sesión?</p>
                <p routerLink="../register" class="register">Regístrate</p>
            </div>
        </form>
    </div>
</div>
