.tarjeta {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 40% 60%;
}

.tarjeta-icono {
    display: grid;
    place-items: center;
}

.tarjeta-icono img {
    max-width: 100%;
    width: 64px;
}

.tarjeta-informacion {
    display: grid;
    place-items: center;
}

@media (min-width:992px){
    .tarjeta-informacion {
        place-items: initial;
    }
}

.tarjeta-titulo {
    font-size: 1rem;
    font-weight: lighter;
}

.tarjeta-contador {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}