<div class="register">
    
    <div class="formulario">

        <div class="logo">
            <img src="./assets/logo.png" alt="">
        </div>

        <p class="titulo">Regístrate</p>

        <form class="formulario-form" [formGroup]="miFormulario">

            <div class="row">
                <div class="col-12 col-lg-6 flex-end">
                    <div class="campo">
                        <p class="label">Nombres:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Apellidos:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Correo institucional:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Contraseña:</p>
                        <input type="password">
                    </div>

                    <div class="campo">
                        <p class="label">Confirmar contraseña:</p>
                        <input type="password">
                    </div>                    
    
                </div>
    
                <div class="col-12 col-lg-6">
                    <div class="campo">
                        <p class="label">Nacionalidad:</p>
                        <input type="text">
                    </div>
    
                    <div class="campo">
                        <p class="label">Ciudad de origen:</p>
                        <input type="text">
                    </div>
    
                    <div class="campo">
                        <p class="label">Genero:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Cedula:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Establecimiento educativo:</p>
                        <input type="text">
                    </div>

                    <div class="campo">
                        <p class="label">Nivel educativo:</p>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="boton">
                <button routerLink="/play" mat-fab class="boton-submit">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
    
        </form>
        <div class="formulario-footer">
            <p class="me-3">¿Ya tienes una cuenta?</p>
            <p routerLink="../login" class="login">Inicia sesion</p>
        </div>
    </div>
    <!-- <pre>{{miFormulario.valid}}</pre>
    <pre>
        {{miFormulario.value | json}}
    </pre> -->

</div>




