.grid {
    margin: 1.5rem 0;
    display: block;
}

@media (min-width:769px){
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 1rem;
    }
}

.carrera-main {
    background-color: var(--blanco);
    border: 1px solid #c7c7c7;
    margin-bottom: 1.5rem;
}

.carrera-header {
    background-color: var(--primario);
}

.carrera-titulo, .carreras-relacionadas {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.carrera-titulo {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    color: #FFF;
}

@media (min-width: 992px){
    .carrera-titulo {
        padding: 1rem 0;
        font-size: 2.5rem;
    }
}

.carreras-relacionadas {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: var(--primario);
}

.informacion {
    padding: 2rem;
}

.area-duration {
    margin: 0.5rem 0;
}

.texto-negrita {
    font-weight: bold;
}

.listado-materias {
    padding: 0;
    list-style: none;
}

.listado-materias li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    color: var(--blanco);
}

.listado-materias li:nth-child(odd) {
    background-color: #293a4a;
}

.listado-materias li:nth-child(even) {
    background-color: #34495e;
}

@media (min-width: 992px){
    .relacionadas {
        padding: 0 2rem;
    }
}

.listado {
    list-style: none;
    padding: 0;
}

.listado li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #cdcdcd;
    transition: color 0.3s ease-in-out;
}

.listado li:hover {
    color: var(--primario);
}

.listado li:last-child {
    border-bottom: none;
}

.listado li mat-icon {
    color: var(--primario);
    margin-right: 0.5rem;
}

.breadcrumb {
    background-image:url('/assets/videos/breadcrumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
}

.title {
    border-left: 5px solid var(--blanco);
}

.title p {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1.5rem;
}

.loading {
    display: grid;
    place-content: center;
    height: 20rem;
}