<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
      <div class="title">
        <p>{{carrera?.name}}</p>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading" class="grid">
        <div>
            <main class="carrera-main">

                <header class="carrera-header">
                    <h3 class="carrera-titulo">{{carrera?.name}}</h3>
                </header>
                
                <div class="informacion">
                    <div class="area-duration">
                        <p><span class="texto-negrita">Área: </span>{{carrera?.area?.name}}</p>
                        <p><span class="texto-negrita">Número de ciclos: </span>{{carrera?.duration}}</p>
                    </div>
                    
                    <div *ngIf="materias.length > 0">
                        <p class="texto-negrita">Listado de materias:</p>
                        <ul class="listado-materias">
                            <li *ngFor="let materia of materias" [routerLink]="['./', materia.slug]">
                                {{materia.name}}
                                <mat-icon>arrow_right</mat-icon>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </main>
        </div>
        

        <aside class="relacionadas">
            <p class="carreras-relacionadas">Carreras Relacionadas</p>
            <ul class="listado">
                <li *ngFor="let carrera of carrerasRelacionadas" [routerLink]="['/play/carreras', carrera.slug]">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    {{carrera.name}}
                </li>
            </ul>

        </aside>

    </div>
</div>

<app-footer></app-footer>