<app-header></app-header>
<div class="container">
    <div class="grid">

        <main class="informacion">

            <h3 class="titulo">{{carrera?.name}}</h3>

            <div class="informacion-imagen">
                <img [src]="carrera?.photo_url" [alt]="carrera?.name">
            </div>

            <div class="area-duration">
                <p><span class="texto-negrita">Área: </span>{{carrera?.area?.name}}</p>
                <p><span class="texto-negrita">Número de ciclos: </span>{{carrera?.duration}}</p>
            </div>

            <p class="texto-negrita">Listado de materias:</p>
            <ul class="listado-materias">
                <li *ngFor="let materia of materias" [routerLink]="['/play/materia', materia.id]">
                    {{materia.name}}
                    <mat-icon>arrow_right</mat-icon>
                </li>
            </ul>

        </main>

        <aside class="relacionadas">
            <p class="carreras-relacionadas">Carreras Relacionadas</p>
            <ul>
                <li *ngFor="let carrera of carrerasRelacionadas">
                    <div class="carrera" [routerLink]="['/play/carrera', carrera.id]">
                        <figure class="imghvr-fade-up">
                            <img [src]="carrera.photo_url" [alt]="carrera.name">
                            <figcaption class="">
                              <h3 class="ih-fade-down ih-delay-sm">{{carrera.name}}</h3>
                            </figcaption>
                        </figure>
                    </div>

                </li>
            </ul>

        </aside>

    </div>
</div>