<div class="home">
    <app-header></app-header>

    <main class="contenido">
        <div class="cursos">
            <p class="titulo">
                Aprende de manera autodidacta
            </p>
            <p class="subtitulo">
                Fortalece tu aprendizaje con los mejores cursos gratuitos
            </p>
            <div class="buscador">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        [(ngModel)]="busqueda"
                        (keyup.enter)="buscar()"
                        type="text" 
                        pInputText 
                        placeholder="Busca carreras, asignaturas o temáticas"
                    >         
                </span>
                <button 
                    type="button" 
                    (click)="buscar()"
                    pButton 
                    pRipple 
                    label="Buscar"
                ></button>
            </div>
        </div>
        <div class="carreras">
            
            <div class="facultades" style="--m: 5; --tan: 0.73">
                <a pTooltip="Ciencias de la salud">
                    <img src="/assets/areas/ciencias_salud.png" alt="alt text"/>
                </a>
                <a style="--i: 1" pTooltip="Ciencias económicas y empresariales">
                    <img src="/assets/areas/ciencias_economicas.png" alt="alt text"/>
                </a>
                <a style="--i: 2" pTooltip="Ciencias exactas y naturales">
                    <img src="/assets/areas/ciencias_exactas.png" alt="alt text"/>
                </a>
                <a style="--i: 3" pTooltip="Ingenierías">
                    <img src="/assets/areas/ciencias_ingenieria.png" alt="alt text"/>
                </a>
                <a style="--i: 4" pTooltip="Ciencias jurídicas y políticas">
                    <img src="/assets/areas/ciencias_juridicas.png" alt="alt text"/>
                </a>
                <a style="--i: 5" pTooltip="Ciencias sociales, educación y humanidades">
                    <img src="/assets/areas/ciencias_educacion.png" alt="alt text"/>
                </a>
            </div>
        </div>
    </main>
</div>


<div class="container">

    <header class="header">
        <p>Servicios</p>
        <div class="linea"></div>
    </header>

    <section class="servicios">

        <div class="servicio">
            <img src="assets/videos/video-icon.svg" alt="Icono de video">
            <h4>Mejores Recursos</h4>
            <p>Recursos en formato de video cortos, precios y eficientes.</p>
        </div>

        <div class="servicio">
            <img src="assets/videos/profesor-icon.svg" alt="Icono de profesor">
            <h4>Mejores Tutores</h4>
            <p>Los profesores con la mejor capacitación y enseñanza.</p>
        </div>

        <div class="servicio">
            <img src="assets/videos/educacion-icon.svg" alt="Icono de educacion">
            <h4>La mejor educación</h4>
            <p>La Universidad Técnica Particular de Loja brinda excelente educación.</p>
        </div>

    </section>

    <header class="header">
        <p>Carreras más populares</p>
        <div class="linea"></div>
    </header>

    <section class="carreras-populares">

        <div class="card" *ngFor="let carrera of carreras" [routerLink]="['/play/carreras', carrera.slug]">
            <div class="carrera-imagen">
                <img [src]="carrera.photo_url" class="card-img-top" [alt]="carrera.name">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ carrera.name }}</h5>
            </div>
          </div>

    </section>

    <header class="header">
        <p>Asignaturas más populares</p>
        <div class="linea"></div>
    </header>

    <section class="carreras-populares">

        <div class="card" *ngFor="let materia of materias" [routerLink]="['/play/materias', materia.slug]"> 
            <div class="card-body">
              <h5 class="card-title">{{ materia.name }}</h5>
            </div>
          </div>

    </section>

</div>

<div class="estudiantes">

    <div class="img">
        <img src="assets/videos/estudiantes-utpl.jpg" alt="Estudiantes UTPL">
    </div>

    <div class="informacion">

        <h4>Nunca dejes de aprender</h4>
        <p>Gracias a los contenidos de alta calidad por parte de UTPL, puedes preparte de la manera más profesional posible</p>
        <button routerLink="/play/materias">Encontrar cursos</button>
    </div>

</div>
<div class="blanco">
    <div class="container">
        <div class="colaboradores">
            <img src="assets/videos/ascendere-colaborador.png" alt="Ascendere">
            <img src="assets/videos/utpl-colaborador.png" alt="UTPL">
            <img src="assets/videos/liid-colaborador.png" alt="LiiD">
        </div>
    </div>
</div>

<app-footer></app-footer>

