<div class="home">
    <app-header></app-header>
    <main class="contenido">
        <div class="cursos">
            <p class="titulo">
                Free online courses from the experts
            </p>
            <p class="subtitulo">
                We are proud to say that since our opening in ’98
            </p>
            <div class="buscador">
                <input type="text">
                <button>Buscar</button>
            </div>
        </div>
        <div class="carreras">
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
        </div>
    </main>
</div>
