<div class="home">
    <app-header></app-header>
    <main class="contenido">
        <div class="cursos">
            <p class="titulo">
                Aprende de manera autodidacta
            </p>
            <p class="subtitulo">
                Empieza tu aprendizaje con los mejores cursos gratuitos
            </p>
            <div class="buscador">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Busca carreras, materias o temáticas">         
                </span>
                <button 
                    type="button" 
                    pButton 
                    pRipple 
                    label="Buscar"
                ></button>
            </div>
        </div>
        <div class="carreras">
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
            <div class="carrera">

            </div>
        </div>
    </main>
</div>
