.logout {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primario);
    padding: 0 1.5rem;
}

@media (min-width: 768px){
    .logout {
        justify-content: flex-end;
    }
}

.logout p {
    margin: 0 1rem;
}

.logout mat-icon {
    font-weight: bold;
}