.fullnav {
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: 20% 75% 5%;
}

.gradiente {
    background: var(--gradiente1);
    background: -moz-linear-gradient(top,  var(--gradiente1) 0%, var(--gradiente2) 100%); 
    background: -webkit-linear-gradient(top,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    background: linear-gradient(to bottom,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c1d2', endColorstr='#bebfcd',GradientType=0 );
}

.sticky {
    position: fixed;
    z-index: 99;
}

.navbar2 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 1rem 0;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav-item, .nav-item2 {
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
    margin: 0 1rem;
    color: var(--blanco);
    font-weight: 400;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

@media (min-width:992px){
    .nav-item, .nav-item2  {
        margin: 0 1rem;
    }
}

.nav-item:hover {
    color: var(--primario);
}

.link-activo {
    color: var(--primario);
    font-weight: bold;
}

.perfil-usuario button {
    background-color: var(--primario);
    border-color: var(--primario);
}

.perfil-usuario button mat-icon {
    vertical-align: unset;
}

.listado {
    list-style-type: none;
    padding: 0;
}

.listado-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    cursor: pointer;
}

.item-nombre p {
    margin: 0;
    margin-left: 0.5rem;
}

.nav-item2 {
    color: var(--negro);
    text-decoration: none;
}

.activo {
    color: var(--primario);
}

.login-button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primario);
    color: var(--blanco);
    width: 140px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}