<nav class="navbar">

    <div class="logo">
        <img src="./assets/logo.png" alt="">
    </div>

    <div class="nav-items">
        <a class="nav-item" routerLink="../home" routerLinkActive="link-activo">Home</a>
        <a class="nav-item" routerLink="../carreras" routerLinkActive="link-activo">Carreras</a>
        <a class="nav-item" routerLink="../materias" routerLinkActive="link-activo">Materias</a>
        <a class="nav-item" routerLink="/admin" routerLinkActive="link-activo">Dashboard</a>
    </div>

    <div class="buscador" [ngClass]="{ 'hidden' : hidden }">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Buscar">         
        </span>
    </div>

    <div class="perfil-usuario">
        <button 
            (click)="logout()" 
            pButton 
            icon="pi pi-user"
            type="button" 
            class="p-button-raised p-button-rounded">
        </button>
        
    </div>
</nav>

