mat-sidenav-container {
    min-height: 100vh;
    height: 100%;
}

mat-toolbar {
    padding: 0;
    height: 4rem;
    width: 100%;
}

app-navbar {
    width: 100%;
    height: 4rem;
}

mat-sidenav {
    background: var(--gradiente1); /* Old browsers */
    background: -moz-linear-gradient(top,  var(--gradiente1) 0%, var(--gradiente2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  var(--gradiente1) 0%,var(--gradiente2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c1d2', endColorstr='#bebfcd',GradientType=0 ); /* IE6-9 */
    width: 70%;
    padding: 1.6rem;
}

@media (min-width: 768px){
    mat-sidenav {
        width: 20rem;
    }
}

.navbar-button {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3c1d2+0,bebfcd+100 */
    background-color: var(--primario);
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.navbar-button-border {
    border-right: 2px solid #ffffff;
}

.content {
    padding: 2.5rem 4rem;
}
