.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primario);
    padding: 0 1rem;
}

@media (min-width:768px){
    .navbar {
        padding: 0 2rem;
    }
}

.logout {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

mat-icon {
    margin: 0 1rem;
    cursor: pointer;
}

.username {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem;
}

@media (min-width:768px){
    .username {
        font-size: 1.2rem;
        margin: 0 2rem;
    }
}

.username p {
    margin: 0;
}
