<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
      <div class="title">
        <p>Búsqueda</p>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">

  <!-- Buscador -->
  <div class="buscador">
      <mat-icon>search</mat-icon>
      <input (keyup)="buscar($event)" type="text" placeholder="Buscar...">
  </div>

  <article class="resultados" *ngIf="videos_aux.length > 0">
      <h5>Videos relacionados</h5>
      <ul class="listado">
          <li *ngFor="let video of videos_aux" [routerLink]="['/play/video', video.id]">
              <mat-icon>play_circle</mat-icon>
              {{video.title}}
          </li>
      </ul>
  </article>
  <article class="resultados" *ngIf="carreras_aux.length > 0">
      <h5>Carreras relacionadas</h5>
      <ul class="listado">
          <li *ngFor="let carrera of carreras_aux" [routerLink]="['/play/carreras', carrera.slug]">
              <mat-icon>play_circle</mat-icon>
              {{carrera.name}}
          </li>
      </ul>
  </article>
  <article class="resultados" *ngIf="asignaturas_aux.length > 0">
      <h5>Materias relacionadas</h5>
      <ul class="listado">
          <li *ngFor="let asignatura of asignaturas_aux" [routerLink]="['/play/materias', asignatura.slug]">
              <mat-icon>play_circle</mat-icon>
              {{asignatura.name}}
          </li>
      </ul>
  </article>
  <div *ngIf="videos_aux.length === 0 && carreras_aux.length === 0 && asignaturas_aux.length === 0" class="alert alert-secondary" role="alert">
    No se encontraron resultados!
  </div>
</div>

<app-footer></app-footer>