mat-form-field {
    margin-bottom: 0.5rem;
    display: block;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.boton-cancelar {
    background-color: #bebebe !important;
    border-color: #bebebe !important;
}

.tabla-header {
    display: block;
}

.tabla-header button, .tabla-header span, .tabla-header span input {
    width: 100%;
}

.tabla-header button {
    margin-bottom: 0.5rem;
}

@media (min-width: 600px){
    .tabla-header {
        display: flex;
        justify-content: space-between;
    }
    .tabla-header button, .tabla-header span, .tabla-header span input {
        width: initial;
    }
    
    .tabla-header button {
        margin-bottom: 0;
    }
}

.acciones {
    display: flex;
    justify-content: center;
}

.acciones button:first-child{
    margin-right: 0.5rem;
}

.sin-carreras {
    text-align: center !important;
}