* {
    font-family: var(--fuente-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fuentes */
    --fuente-principal: 'Poppins', sans-serif;
    /* Colores */
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris-bordes: #a7a7a7;
    --primario: #00345E;
    --gradiente1: #E3C1D2;
    --gradiente2: #BEBFCD;
    /* Separación */
    --separacion: 5rem;
}
