<mat-accordion class="example-headers-align" multi>
  <a class="logo" routerLink="/">
    <img src="/assets/logo.png" alt="UTPL Play logo" />
  </a>

  <mat-expansion-panel
    [expanded]="true"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    *ngFor="let item of menuItems"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h5>{{ item.titulo }}</h5>
      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="listado">
      <li *ngFor="let subitem of item.subItems">
        <a
          class="nav-item"
          [routerLink]="subitem.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="subitem.available"
          (click)="cerrarSidenav()"
        >
          <mat-icon>{{ subitem.icono }}</mat-icon>
          <p>{{ subitem.subtitulo }}</p>
        </a>
      </li>
    </ul>
  </mat-expansion-panel>

  <div class="boton">
    <button type="button" mat-button class="boton-submit" (click)="logout()">
      Cerrar Sesión
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</mat-accordion>
